{% load static %}
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'hello/css/bootstrap.min.css' %}">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{msg}}</p>
        <div class="container">
            <form action="{% url 'form' %}" method="post">
                {% csrf_token%}
                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

        <p><a href="{% url goto %}">{{goto}}</a></p>
    </body>
</html>